@model ShoppingCart.Models.Objects.ProductDetailViewModel

@{
    ViewBag.Title = "Product";

}

@using (Html.BeginForm("AddToCart", "Cart"))
{
    @Html.AntiForgeryToken()
 
    <div class="col-md-10 col-md-4">
        <div class="container-fluid">
            <div class="product-thumb-detail">
                @Html.Partial("_Product", Model.Product)
                <div class="form-group">
                    @Html.HiddenFor(model => model.Product.Id)
                    <div>
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div>
                        <input type="submit" value="Add To Cart" class="btn-add-to-cart" />
                    </div>
                </div>
            </div>
            <div class="product-detail">
                <span class="description">@Model.Product.Description</span>
                <div class="pdp-product-brand__divider"></div>
                <div class="product-detail-line">
                    <span class="name">@Html.DisplayNameFor(model => model.Product.Brand):</span>
                    <text class="value">@Html.DisplayFor(model => model.Product.Brand)</text>
                </div>
                <div class="product-detail-line">
                    <span class="name">@Html.DisplayNameFor(model => model.Product.Model):</span>
                    <text class="value">@Html.DisplayFor(model => model.Product.Model)</text>
                </div>
                <div class="product-detail-line">
                    <span class="name">@Html.DisplayNameFor(model => model.Product.Type):</span>
                    <text class="value">@Html.DisplayFor(model => model.Product.Type.Name)</text>
                </div>
                <div class="product-detail-line">
                    <span class="name">@Html.DisplayNameFor(model => model.Product.Category):</span>
                    <text class="value">@Html.DisplayFor(model => model.Product.Category.Name)</text>
                </div>
            </div>
        </div>
    </div>
}
