@model ShoppingCart.Models.Objects.CartViewModel

@{
    ViewBag.Title = "Cart";
}

<h2>Items in Cart</h2>

<div class="row container-fluid">
    <div class="cart-item-container">
        <table class="border-none">
            <tr class="list-header">
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart.Items[0].Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart.Items[0].Total)
                </th>
            </tr>

            @foreach (var item in Model.Cart.Items)
            {
                <tr>
                    <td class="col-md-3">
                        <div class="col-md-4">
                            <div class="product-thumb">
                                @Html.Partial("_Product", item.Product)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="item-quantity">
                            <div class="box-counter">
                                @Html.ActionLink(" ", "AddProduct", new { index = Model.Cart.Items.IndexOf(item) }, new { @class = "glyphicon glyphicon-plus" })
                            </div>
                            <div class="box-counter">
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </div>
                            <div class="box-counter">
                                @Html.ActionLink(" ", "SubtractProduct", new { index = Model.Cart.Items.IndexOf(item) }, new { @class = "glyphicon glyphicon-minus" })
                            </div>
                        </div>
                    </td>
                    <td>
                        <h4 class="total">@Html.DisplayFor(modelItem => item.Total)</h4>
                    </td>
                    <td>
                        @Html.ActionLink(" ", "RemoveItem", new { index = Model.Cart.Items.IndexOf(item) }, new { @class = "glyphicon glyphicon-trash" })
                    </td>
                    @*<td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger">Action</button>
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </td>*@
                </tr>
            }
            <tr>
                <th>@Html.DisplayNameFor(model => model.Cart.Total)</th>
            </tr>
            <tr>
                <td>
                    <h4 class="total">@Html.DisplayFor(model => model.Cart.Total)</h4>
                </td>
                <td>
                    @Html.ActionLink("Checkout", "DisplayForm", "Order")
                </td>
            </tr>
        </table>
    </div>
</div>