@model ShoppingCart.Models.Objects.CartViewModel

@{
    ViewBag.Title = "Cart";
}

<h2>Items in Cart</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Cart.Items[0].Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cart.Items[0].Total)
        </th>
    </tr>

    @foreach (var item in Model.Cart.Items)
    {
    <tr>
        <td>
            <div class="col-md-4">
                <div class="product-thumb-container">
                    @Html.Partial("_Product", item.Product)
                </div>
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.ActionLink("(-)", "SubtractProduct", new { index = Model.Cart.Items.IndexOf(item) })
        </td>
        <td>
            @Html.ActionLink("(+)", "AddProduct", new { index = Model.Cart.Items.IndexOf(item) })
        </td>
        <td>
            @Html.ActionLink("Remove", "RemoveItem", new { index = Model.Cart.Items.IndexOf(item) })
        </td>
    </tr>
    }
    <tr>
        <th>@Html.DisplayNameFor(model => model.Cart.Total):</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Cart.Total)</td>
    </tr>
</table>

<div>
    @Html.ActionLink("Checkout", "DisplayForm", "Order")
</div>