@model ShoppingCart.Models.Objects.HomeViewModel

@{
    ViewBag.Title = "Home";
    int maxCols = 8;
}

<div class="container">
    <div class="categories panel-left">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                @foreach (var productCategory in Model.ProductCategories)
                {
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    @productCategory.Name<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @foreach (var productType in Model.ProductTypes)
                                    {
                                        foreach (var product in Model.Products)
                                        {
                                            if(product.Type.Id.Equals(productType.Id) && product.Category.Id.Equals(productCategory.Id))
                                            {
                                                <li><a href="@Url.Action("ViewProducts", "Product", new { typeId = product.Type.Id, categoryId = product.Category.Id })">@product.Type.Name</a></li>
                                                break;
                                            }
                                        }
                                    }
                                </ul>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </div>
</div>
<div class="mostPopular">
    <h2>Most Popular</h2>
    <div class="row" style="padding-top:50px">
        <div class="text-center list-group list-group-horizontal">
            @for (int i = 0; i < Model.Products.Count() && i < maxCols; i++)
            {
                <a href="@Url.Action("ViewProduct", "Product", new { id = Model.Products[i].Id })">
                    <img class="thumbnail list-group-item" src="@Html.DisplayFor( model => model.Products[i].Image.FilePath)" />
                </a>
            }
        </div>
    </div>
</div>
