@model ShoppingCart.Models.Objects.OrderDetailViewModel

@{
    ViewBag.Title = "View Order";
}

<h3>Order #@Model.Order.Id</h3>

@using (Html.BeginForm("CancelOrder", "Order"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <table class="table">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Order.Id)
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderLines[0].Item.Product.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderLines[0].Item.Product.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderLines[0].Item.Product.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderLines[0].Item.Product.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderLines[0].Item.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderLines[0].Item.Product.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderLines[0].Item.Total)
                </th>
            </tr>
            @foreach (var orderLine in Model.OrderLines)
            {
            <tr>
                <td>
                    <img class="thumbnail" src="@Html.DisplayFor(modelItem => orderLine.Item.Product.Image.FilePath)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orderLine.Item.Product.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orderLine.Item.Product.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orderLine.Item.Product.Type.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orderLine.Item.Product.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orderLine.Item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orderLine.Item.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => orderLine.Item.Total)
                </td>
            </tr>
            }
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Order.Total)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Order.Total)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Cancel Order" class="btn btn-default" />
                </td>
            </tr>
        </table>

    </div>
}